
.requirements-form {
	display: flex;
    background: #51464f;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	width: 400px;
}

#unemployment {
	border: 2px solid;
	color: red;
}

.req {
	border: 2px solid;
	color: red;
}


.fieldset {
	border: none;
	margin-bottom: 10px;
}

fieldset:last-of-type {
	margin-bottom: 0;
}

