.cta-container{
    border: 1px solid var(--color-text);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--background-front);
}

.cta-content p{
    color: var(--color-subtext);
    font-family: var(--font-family-min);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
}

.cta-content h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    color: var(--color-shady);
}

.cta-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.cta-button button {
    background: var(--color-bg);
    color: var(--color-text);
    border-radius: 2rem;
    font-family: var(--font-family-min);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-text);
    outline: none;
    cursor: pointer;
    min-width: 150px;


}

.cta-button button:hover
{ 
background-color: var(--color-bg);
box-shadow: inset -3px -3px 7px var(--button-hover),
inset 3px 3px 5px var(--purple); 
}


@media screen and (max-width: 650px) {
    .cta-container{
      flex-direction: column;
    }
  
    .cta-button {
      margin: 2rem 0 0;
    }
    
  }

  @media screen and (max-width: 650px) {
    .cta-container{
        margin: 4rem 2rem;
    }

    .cta-content h3{
        font-size: 18px;
        line-height: 32px;
    }
  
    .cta-button button{
        font-size: 14px;
        line-height: 28px;
    }
    
  }