.about-container{
  background-color: var(--background-front);
  margin-top: 7rem;

  .who-we-are{
    display: flex;
    gap: 0rem 18.75rem;
    margin: 4rem;

    .about-img{
      img{
        width: 50rem;
        height: 40rem;
        margin-top: 2rem;
      }
    }

    .about-content{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 4rem;

      h1{
        color: #FFF;
        font-family: Poppins;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.625rem;
        margin-bottom: 2rem;
      }

      p{
        color: var(--color-light);
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.875rem;
      }
    }
  
  }

  .vision{
    display: flex;
    gap: 0rem 10rem;
    margin: 4rem;
    align-items: center;

    .values{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 4rem;


      h1{
        color: #FFF;
        font-family: Poppins;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.625rem;
        margin-bottom: 2rem;
      }

      p{
        color: var(--color-light);
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.875rem;
      }
    }

  }

  .ourteam{
    display: flex;
    flex-direction: column;
    gap: 0rem 10rem;
    margin: 4rem;
    align-items: center;

    h1{
      color: var(--color-text);
      font-size: 3.5rem;
      font-weight: 300;
    }

    .members{
      display: flex;
      width: 100%;
      justify-content: center;
      margin: 4rem;

      .left{
        margin: 0 4rem;
        img{
          width: 25rem;
          height: 25rem;
        }
      }
  
      .right{
  
        h2{
          color: var(--color-text);
        }
        h3{
          color: var(--color-light);
        }
        p{
          color: var(--color-light);
        }
      }
    }
  }

}