.footer {
  /*border: 1px solid black; */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-front);

}

.footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.footer-heading h1{
  font-family: var(--font-family);
  color: var(--color-text);
  font-size: 50px;
  font-weight: 800;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04rem;
}

.footer-button {
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  border-radius: 4rem;
  margin-bottom: 2rem;
  cursor:pointer;

    --c: #1095c1; /* the color */
    --b: .1em;    /* border length*/
    --d: 20px;    /* the cube depth */
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
      conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
      conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
      polygon(
       var(--d) 0%, 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)),
       100% calc(100% - var(--d)),
       var(--d) calc(100% - var(--d))
      );
    transition: 0.5s;
  }
  .footer-button:hover {
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }

.footer-button p{
  box-sizing: border-box;
  font-family: var(--color-shady);
  font-size: 18px;
  line-height: 21px;
  word-spacing: 2px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;

  width: 100%;
  text-align: left;
}

.footer-links div {
  width: 250px;
  margin: 1rem;
}

.footer-links-logo {
  display: flex;
  flex-direction: column;
}

.footer-links-logo img{
  width: 120px;
  height: 100px;
  margin-bottom: 0.1rem;
}

.footer-links-logo p {
  font-family: var(--font-family-min);
  font-size: 12px;
  line-height: 14px;

}

.footer-links-div {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.footer-links-div h4{
  text-transform: uppercase;
  font-family: var(--font-family);
  color: var(--color-text);
  letter-spacing: 0.4rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 1rem;
}

.footer-links-div p{
  font-family: var(--font-family);
  color: var(--color-shady);
  font-size: 12px;
  line-height: 14px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.footer-copyright {
  background-color: var(--color-bg);
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.footer-copyright p{
  color: var(--color-shady);
  font-size: 12px;
  margin: 2rem 0 2rem 0;
}

@media  screen and  (max-width: 850px) {
  .footer-heading h1 {
    color: var(--color-text);
    font-size: 44px;
    line-height: 50px;
  } 
}

@media  screen and  (max-width: 550px) {
  .footer-heading h1 {
    color: var(--color-text);
    font-size: 34px;
    line-height: 42px;
  } 

  .footer-links div{
    margin: 1rem 0;
  }

  .footer-button p{
    font-size: 14px;
    line-height: 20px;
  }
}

@media  screen and  (max-width: 550px) {
  .footer-heading h1 {
    color: var(--color-text);
    font-size: 27px;
    line-height: 38px;
  }
}