.bird-screen {
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;

    .bird-h1 {
    color: goldenrod;
    display: flex;
      flex-direction: row;
      padding-top: 4rem;
    }
}

