
:root {
    --gradient-text:linear-gradient()
    --gradient-bar: linear-gradient()

    {/*Main Colors}
    --color-footer: ;
    --color-blog: ;
    --color-text: #333;
    --color-subtext: #CD9A0F;
    --background-front: #f5f5f5;
    --color-bg: #e5e5e5;
    --font-family:  monospace,Courier,'Courier New';
    --button:#BBBFCA;
    --button-hover:#CD9A0F;
    --font-family-min: 'Roboto';
    --main-color:white;
        --font-family:  monospace,Courier,'Courier New';


       --background-shady:#1a1e25;
       --color-bg: #0c0f16;
    */}

    --color-blog: ;
    --color-text: #f8f9fa;
    --color-subtext: #00A9A5;
    --background-front: #11141B;
    --background-shady: #1a1e25;
    --color-bg: #0c0f16;
    --font-family: 'Barlow Condensed',Poppins, sans-serif;
    --color-shady:#999;
    --button-hover:goldenrod;
    --font-family-min: 'Roboto';
    --color-light:#C8C8C8;
    --purple: #6f42c1;


  }
  
  .section__padding {
    padding: 4rem 6rem;
  }
  
  .section__padding {
    margin: 4rem 6rem;
  }
  
  .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

   @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @media screen and (max-width: 700px){
    .section__padding {
      padding: 4rem;
    }
    .section__margin {
      padding: 4rem;
    }
    
  }
  
  @media screen and (max-width: 550px){
    .section__padding {
      padding: 4rem 2rem;
    }
    .section__margin {
      padding: 4rem 2rem;
    }
    
  }