* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #795d0b;
    color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px; 
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 25px 26px;
    background: fixed darkgoldenrod;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 1);
}
