* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 25px 26px;
    background: fixed darkgoldenrod;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 1);
}
